@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body{
	margin: 0;
	background: #24252A;
	font-family: Arial;
}
/*****************************NAVBAR*******************************/
{
	margin: 0;
	padding: 0;
	
}
.nav-container{
	width:80%;
	margin: 0 auto;

}
header{
	background:#0B0C10 ;
	/*background: red;*/
	position: sticky;
	top:0;
}
header::after {
	content: '';
	display: table;
	clear:both;
}
.logo{  /********logo image*****/
	float: left;
	cursor: pointer;
	width: 90px;

}
nav{
	float: right;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
nav li{
	display: inline-block;
	margin-left: 70px;
	padding-top:25px;


	position: relative;
}
nav a{
	color: #96B596;
	text-decoration: none;
	text-transform: uppercase;
    font-size: 15px;
}
nav a:hover {
/*****color green****/
	color: #00E500;

}
nav a::before{
	content: '';
	display: block;
	height: 5px;
	width: 100%;
	background-color: #00E500;

	position: absolute;
	top: 0;
	width: 0%;

	transition: all ease-in-out 250ms;
}
nav a:hover::before{
	width: 100%;
}

/*****************************Welcome*************************************/

/**begin yout adventure**/
.welcome-container h3{
	display: flex;
	justify-content: center;
	font-size: 30px;
	margin: 30px;
	
}
strong{
	font-size: 40px;

}


.welcome-sign-img{
	font-size: 35px;
	display: flex;
	justify-content: center;


}
.welcome-img{
	width: 35em;
	height: 10px;
}
/**********************************About******************************/
.aboutlogo {  /********logo image*****/

	cursor: pointer;
	width: 85px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.box:hover {
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
    transform: rotate(-7deg);
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 20px;
}

.box { 
    background-color:#0B0C10;
    padding: 25px;
    margin: 20px;
    border-radius: 5px;
	border-top-left-radius: 70px;
	border-bottom-right-radius: 70px;
}

.box > img {
    width: 100%
   
}
.box h4{
	font-size: 1.25em;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	border-top-left-radius: 70px;
	border-bottom-right-radius: 70px;
	background-color: #24252A ;
    color: #96B596;
}
.box p{
	color:#96B596;
	
}
.yourself{
	border-radius: 5px;
	border-top-left-radius: 70px;
	border-bottom-right-radius: 70px;
}
.world{
	border-radius: 5px;
	border-top-left-radius: 70px;
	border-bottom-right-radius: 70px;
}
.hanshake{
	border-radius: 5px;
	border-top-left-radius: 70px;
	border-bottom-right-radius: 70px;
}
.me{
   border-radius: 5px;
   border-top-left-radius: 70px;
   border-bottom-right-radius: 70px;
}
